@import './resets';
@import './variables';

@function wight($wight-name){
    @return map-get($font-wights, $wight-name);
}

@mixin flexCenter($direction){
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: $direction
}


@mixin theme($light-theme: true){
    @if $light-theme{
        background: lighten($primary-color, 100%) !important;
        color: darken($secondary-color, 100%) !important;
    }
}

@mixin  mobile {
    @media (max-width: $mobile) {
        @content;
    }
    
}
body {
    background: $primary-color;
    color: $secondary-color;
}

.header-section{

    .top {
        border-bottom: thin solid $accent-color;
    }

    .product-title{
        font-weight: wight(medium);
        font-size: large;
    }
}

.content-section{
    min-height: 90vh;
    overflow-y: scroll;
   

    #{&}-products{
        // border: thin solid $accent-color;

    }
}

.text-accent{
    color: $accent-color;
}

.main{
    @include flexCenter(row);
    width: 80%;
    margin: 0 auto;

    #{&}-page-section{
        font-weight: wight(regular)
    }

    #{&}-page-section2{
        @extend .main-page-section;
    }


    @include mobile{
        flex-direction: column;
    }
}


.light {
    @include theme(true)
}